<table align="left", width="12%">
      <colgroup>
        <col span="1">
      </colgroup>
      
      <tr>
        <th><%= (@base_date + date_incre.day).to_date %> </th>
      </tr>
      <%= form_for date do |f| %>
      <%= f.hidden_field :base_date, value: @base_date + date_incre.day %> 
      <tr>
        <td><%= f.text_field :sleep_time %></td>
      </tr>
      <tr>
        <td>
          <%= f.number_field :restfulness %>
          </td>
      </tr>
      <tr>
        <td><%= f.text_area :study_progress, size: "24x12" %></td>
      </tr>
      <tr>
        <td><%= f.submit 'submit', class: 'myButton' %></td>
      </tr>
      <% end %>
    </table>