<% provide(:title, 'Daily Records') %>
<head><div id="memo" style="margin: auto; width: 70%;">
  <%= form_for @memo do |f| %>
  <%= f.text_area :text, size: "160x15" %>
  <%= f.submit "save", class: 'myButton' %>
  <% end %>
  </div></head>
  <br>
<body>
  <div id="daily_record">
    <!-- Table 1 -->
    <table align="left", width="20%">
      <colgroup>
        <col span="7">
      </colgroup>
      <tr>
        <th>Date:</th>
        <th><%= @base_date.to_date %></th>
      </tr>
      <%= form_for @day1 do |f| %>
      <%= f.hidden_field :base_date, value: @base_date %>
      <tr>
        <td>Sleep Time:</td>
        <td><%= f.text_field :sleep_time %></td>
      </tr>
      <tr>
        <td>Restfulness:</td>
        <td>
          <%= f.number_field :restfulness %>
          </td>
      </tr>
      <tr>
        <td>Study Progress:</td>
        <td><%= f.text_area :study_progress, size: "24x12" %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit 'submit', class: 'myButton' %></td>
      </tr>
      <% end %>
    </table>
    
    <!--Table 2-->
    <%= render partial: 'form', locals: { date_incre: 1, date: @day2 } %>
    
    <!--Table 3-->
    <%= render partial: 'form', locals: { date_incre: 2, date: @day3 } %>
    
    <!--Table 4-->
    <%= render partial: 'form', locals: { date_incre: 3, date: @day4 } %>
    
    <!--Table 5-->
    <%= render partial: 'form', locals: { date_incre: 4, date: @day5 } %>
    
    <!--Table 6-->
    <%= render partial: 'form', locals: { date_incre: 5, date: @day6 } %>
    
    <!--Table 7-->
    <%= render partial: 'form', locals: { date_incre: 6, date: @day7 } %>
    
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div align="center">
    <p><%= button_to 'Previous', daily_record_previous_path, method: :post, class: 'myButton' %></p>
    <p><%= button_to 'Next', daily_record_next_path, method: :post, class: 'myButton' %></p>
  </div>
  
</body>

send all records to:
<%= form_tag daily_record_send_mail_path do |f| %>
<%= text_field_tag :email %>
<%= submit_tag 'send' %>
<% end %>
