<h1>Log in</h1>

<%= form_for :session, url: login_path do |f| %>
<%= f.label :name %><br>
<%= f.text_field :name %><br>
<%= f.label :password %><br>
<%= f.password_field :password %><br>
<%= f.submit "Log in", class: "btn btn-primary" %>
<% end %>
