<%= form_for(@article, html: {multipart: true}) do |f| %>
<p><%= f.label :title, 'Title:' %><br>
<%= f.text_field :title %></br>
</p>
<p>
<%= f.label :content, 'Content:' %><br>
<%= f.text_area :content, size: "60x12" %></br>
</p>
<%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %><br>
<%= f.submit %><br>
<% end %>


<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>