<% provide(:title, @article.title) %>
<div class="container" style="margin-top: 100px;"><h2>Edit Article</h2>

<div><% if @article.errors.any? %>
       <% @article.errors.full_messages.each do |e| %>
         <%= e %>
       <% end %>
     <% end %></div>

<%= render 'form' %>

<%= link_to 'Back', articles_path %>
</div>