<% provide(:title, 'Index') %>
<div class="container" style="margin-top: 100px;"><h2>My Blog</h2>

<p><% if logged_in? %>
   <%= link_to 'New article', new_article_path %>
   <% end %></p>

<% @articles.each do |article| %>
<div class = "container" style="margin-top: 30px; border-style: solid; border-width: thin;"><strong><%= link_to article.title, article_path(article) %></strong> 
<%= article.created_at.to_s(:long) %></br>
<%= image_tag article.picture.url if article.picture? %>
<%= simple_format(article.content) %>
</div>
<% end %>
</div>