<% provide(:title, @article.title) %>
<div class="container" style="margin-top: 100px;"><h2><%= @article.title %></h2>

<p><%= simple_format(@article.content) %></p><br>
<%= image_tag @article.picture.url if @article.picture? %><br>
<% if logged_in? %>
<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Delete', article_path(@article), method: :DELETE %>
<% end %>
<%= link_to 'Back', articles_path %>
</div>
<div class="container" style="margin-top: 100px;">
    
    <%= form_for([@article, @article.comments.build]) do |a| %>
    <%= a.label :content, 'Add comment' %>
    <%= a.text_field :content %>
    <%= a.submit 'send' %>
    <% end %>
    
    <p>Comments:</p>
    
    <ul>
    <% @article.comments.each do |c| %>
        <% if c.id != nil %>
        <li>
        <%= c.content %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp at          
        <%= c.created_at.to_s(:short) %>
        <% if logged_in? %>
        <%= link_to 'delete', [c.article, c], method: :delete %>
        <% end %>
        </li>
        <% end %>
    <% end %>
    </ul>
</div>



