<% @daily_records.each do |d| %>
Date: <%= d.date.to_date.to_s(:long) %><br>
Sleep time: <%= d.sleep_time %><br>
Restfulness: <%= d.restfulness %><br>
Study Progress: <%= d.study_progress %><br>
=============================<br>
<% end %>
