<div class="container">
<h1>Sign Up</h1>


  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |e| %>
      <%= e %><br>
    <% end %>
  <% end %>
</div>

<div class="container">
  <p><%= form_for @user do |f| %>
     <%= f.label :name %><br>
     <%= f.text_field :name, class: "form-control" %><br>
     <%= f.label :password %><br>
     <%= f.password_field :password, class: "form-control" %><br>
     <%= f.label :password_confirmation %><br>
     <%= f.password_field :password_confirmation, class: "form-control" %><br>
     <%= f.submit class: "btn btn-primary" %>
     <% end %>
  </p>
</div>