<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-center">
        <li><%= link_to 'Articles', articles_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <% if logged_in? %>
        <li><%= link_to 'Daily Record', daily_record_path %></li>
        <li><%= link_to 'Log out', logout_path, method: "delete" %></li>
        <li style="color: white;"><%= current_user.name %></li>
        <% else %>
        <li><%= link_to 'Sign up', signup_path %></li>
        <li><%= link_to 'Log in', login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>